.globalHeading {
  .container {
    display: flex;
  }
  .globalHeadingContent {
    margin: auto 0;
  }
  .headline {
    font-size: 50px;
    font-weight: bold;
  }

  .headlineInfo {
    font-size: 20px;
  }
}
