.globalHeading {
  position: relative;

  .container {
    display: flex;
  }

  &::before {
    background-color: #222222;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: -1;
  }

  .globalHeadingContent {
    margin: auto 0;
  }
  .headline {
    font-size: 50px;
    font-weight: bold;
  }

  .headlineInfo {
    font-size: 20px;
  }

  .headlineInfo,
  .headline {
    font-family: 'Pacifico', cursive;
    color: white;
  }
}
