.globalNav {
  // Common styles for GlobalNav
  nav,
  .userInfoBlock {
    display: flex;
    align-items: center;
  }

  // Individual styles
  nav {
    justify-content: space-between;
    padding: 20px 0;
  }

  .siteName {
    font-family: 'Pacifico', cursive;
    color: tomato;
  }

  .userAvatar {
    background-color: #132132;
    border-radius: 50%;
    --dimension: 50px;
    width: var(--dimension);
    height: var(--dimension);
    margin-left: 20px;
  }
}
