@media (max-width: 600px) {
  // Global
  .App {
    grid-template-columns: [left-gutter] 0 [content] 12fr [right-gutter] 0px;
  }

  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  // Global Nav
  .globalNav {
    .userAvatar {
      --dimension: 40px;
      margin-left: 10px;
    }
  }

  //   Global Heading
  .globalHeading {
    position: relative;

    &::before {
      background-color: #222222;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      z-index: -1;
    }

    .headline {
      font-size: 32px;
      line-height: 35px;
      margin-bottom: 7px;
    }

    .headlineInfo {
      font-size: 15px;
      line-height: 20px;
    }

    .headline,
    .headlineInfo {
      color: white;
    }
  }

  // Stories
  .stories {
    .container {
      padding: 0;
    }

    .storyHeader {
      margin-bottom: 12px;
    }

    .storyInfoBlock {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .storiesHeader,
    .storyHeadline,
    .storyInfoBlock {
      padding-left: 20px;
      padding-right: 20px;
    }

    .headline {
      font-size: 32px;
    }
  }

  //

  .stories .storyInfoBlock {
    padding-bottom: 25px;
  }

  .storyHeader {
    margin-bottom: 12px;
  }

  /* Inline #3 | http://192.168.0.101:3000/ */

  .stories .listOfStories .storyContent > div {
    background-color: white;
  }

  /* Element | http://192.168.0.101:3000/ */

  .storyImgBlock {
    padding: 20px;
    background: #d5d5d5;
    // border-radius: 4px;
    padding-bottom: 0;
  }

  .storyImg {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  /* Inline #7 | http://192.168.0.101:3000/ */

  .stories .container {
    padding: 0;
  }
}
