@media (max-width: 600px) {
  // Global
  .App {
    grid-template-columns: [left-gutter] 0 [content] 12fr [right-gutter] 0px;
  }

  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  // Global Nav
  .globalNav {
    .userAvatar {
      --dimension: 40px;
      margin-left: 10px;
    }
  }

  //   Global Heading
  .globalHeading {
    position: relative;

    &::before {
      border-radius: 0;
    }

    .headline {
      font-size: 32px;
      line-height: 35px;
      margin-bottom: 7px;
    }

    .headlineInfo {
      font-size: 15px;
      line-height: 20px;
    }
  }

  // Stories
  .stories {
    .container {
      padding: 0;
    }

    .storiesHeader {
      padding: 20px;
    }

    .headline {
      font-size: 32px;
    }
  }

  .stories .container {
    padding: 0;
  }

  // New story form
  .newStoryForm {
    --dimension: 100%;
    width: var(--dimension);
    height: var(--dimension);
    overflow-y: auto;
  }
}
