.newStoryForm {
  background-color: white;
  overflow-y: auto;
  padding: 20px 10px;
  --dimension: 100%;
  width: var(--dimension);
  height: var(--dimension);

  fieldset {
    border: none;
    padding: 0;
  }

  legend {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: transparent;
    background: linear-gradient(to left, tomato, orange) center no-repeat text;
  }

  .formRow {
    display: flex;
    flex-direction: column;
  }

  .formFieldLabel {
    font-family: 'Pacifico', cursive;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 5px;
    display: block;
  }

  .formFieldInput {
    font-family: 'Poppins';
    width: 100%;
    background: #f7f7f7;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid tomato;
    color: #060606;
  }

  select.formFieldInput {
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  .formActionsBlock {
    text-align: right;
    margin-bottom: 20px;

    button {
      background-color: transparent;
      color: tomato;
      font-weight: bold;
      text-align: right;
      border: none;
      font-size: 20px;
      margin: 0 20px;
      padding: 10px;

      &:last-child {
        background-color: #eb575745;
      }
    }
  }
}
